@import "reset.css";
@import "fonts.css";
@import "sidebar_footer.css";
.container {
	display: grid;
	width: 80%;
	margin: 0 auto;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 125px 1fr;
	grid-template-areas: "hd hd" "blog sb";
	grid-column-gap: 1em;
	margin-top: 50px;
}
.navbar {
	display: flex;
	background: #eee;
}
.navbar>ul.nav {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 20px 0;
}
.navbar>ul>li {
	display: inline;
	padding-left: 25px;
}
.navbar>ul>li>a {
	text-decoration: none;
	color: gray;
	font-size: 1.3em;
}
.navbar>div.social {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.social>a>i {
	padding-right: 20px;
	color: black;
}
.header {
	grid-area: hd;
}
.header>h1 {
	font-size: 3em;
	color: firebrick;
}
.blog-list {
	grid-area: blog;
}
.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px dotted #ccc;
	padding: 12px;
}
.wording>p {
	line-height: 1.3em;
}
.wording>h3 {
	line-height: 1.6em;
}
.btn {
	padding: 4px 7px;
	background: gray;
	border-radius: 8px;
	margin-left: 10px;
	vertical-align: sub;
}
.btn:hover {
	background: #555;
}
.btn>a {
	color: white;
	text-decoration: none;
}
.auth_pic {
	height: 100px;
	width: 100px;
	object-fit: cover;
}
.title>a {
	text-decoration: none;
	color: #8FB4CC;
}
.date {
	font-size: 2.2em;
	text-align: center;
}
.wording {
	margin-left: 20px;
}
.caption {
	text-align: center;
	color: #444;
}
.sidebar {
	text-align: center;
}
h4.archive-headline {
	color: #555;
	font-size: 1.5em;
	margin-top: 20px;
}
.archive-hr {
	margin: 10px 20px;
}
.archives-ul {
	list-style-type: none;
	line-height: 1.4em;
	padding-left: 0px;
}
p.post {
	line-height: 1.4em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.auth-cred {
	font-style: italic;
	margin: 10px 0;
}
.published {
	margin-top: 8px;
	padding-bottom: 8px;
}
.blog-post>h2 {
	color: #8FB4CC;
	font-size: 2.1em;
}
.post-pic>img {
	width: 70%;
	margin-bottom
}
.post-pic-cap {
	margin-bottom: 20px;
}
.share>a {
	color: black;
}
.share {
	margin-left: auto;
	padding-right: 30px;
}
.post-head {
	display: flex;
}
.blog-post {
	grid-area: blog;
	padding-right: 25px;
}
@media only screen and (max-width: 1024px) {
	.container {
		display: grid;
		width: 90%;
		margin: 0 auto;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: 125px 1fr;
		grid-template-areas: "hd hd" "blog blog" "sb sb";
		grid-column-gap: 1em;
		margin-top: 50px;
	}
	.blog-list {
		grid-area: blog;
	}
	.sidebar {
		grid-area: sb;
	}
}